<% provide(:title,  (t ".title") ) %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".content1" %><a href="http://www.railstutorial.org/">
    <em><%= t ".content2" %></em></a><%= t ".content9" %>
  <a href="http://www.railstutorial.org/book"><%= t ".content3" %></a>
  <%= t ".content4" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".content5" %></a>
  <%= t ".content6" %>
  <a href="http://rubyonrails.org/"><%= t ".content7" %></a>.
  <%= t ".content8" %>
</p>
<%= link_to "English", locale: "en" %>
<%= link_to "Vietnamese", locale: "vi" %>
