<% provide(:title, (t ".title")) %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".content1" %>
  <a href="http://www.railstutorial.org/help"><%= t ".content2" %></a>.
  <%= t ".content3" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".content4" %></em>
  <%= t ".content5" %></a>.
</p>
<%= link_to "English", locale: "en" %>
<%= link_to "Vietnamese", locale: "vi" %>
