<% s = t ".home" %>
<% provide(:title,s) %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".content1" %>
  <a href="http://www.railstutorial.org/"><%= t ".top" %></a>
  <%= t ".content2" %>
</p>
<%= link_to "English", locale:"en" %>
<%= link_to "Vietnamese", locale:"vi" %>
