<%= link_to "English", locale: "en" %>
<%= link_to "Vietnamese", locale: "vi" %>
<footer class="footer">
  <small>
    <%= t ".content1" %>
    <a href="http://www.railstutorial.org/"><%= t ".content2" %></a>
    <%= t ".content3" %>
    <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to (t ".about"), about_path %></li>
      <li><%= link_to (t ".contact"), contact_path %></li>
      <li>
        <a href="http://news.railstutorial.org/"><%= t ".news" %></a>
      </li>
    </ul>
  </nav>
</footer>
